{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Principal</title>
{% endblock %}

{% block content %}
  <section>
    <center>
      <div class="container">
        <div class="row g-0 position-relative" id="invitacion-adoptar">
          <div class="col-md-6 mb-md-5 p-md-4" id="img-adoptar">
            <!-- Añade la clase "circular-image" a la imagen -->
            <img src="{% static 'img/skin-gato-adoptar(6).jpg' %}" class="w-100 circular-image" alt="...">
          </div>
          <div class="col-md-6 p-2 ps-md-0 " id="texto-adoptar">
            <h2 class="mt-0">Adopta un amigo felino</h2>
            <p>¡Conoce a nuestro adorable amigo en busca de un hogar!</p>
            <p>Conoce a Whiskers, un adorable gatito de 2 años en busca de
              un hogar cariñoso. Whiskers es juguetón,
              curioso y le encanta recibir mimos. Está esterilizado,
              vacunado y listo para ser parte de una familia
              que
              lo ame y lo cuide para siempre.</p>
            <a href="{% static 'img/adopcion_gato.jpg' %}" class="btn btn-primary stretched-link">Proximamente</a>
          </div>
        </div>
        <!--  reverse       -->
        <div class="row g-0 position-relative" id="invitacion-adoptar">
          <div class="col-md-6 p-5 ps-md-0" id="texto-adoptar">
            <!-- Mueve el título antes de la imagen -->
            <h2 class="mt-0">Adopción de Perro</h2>
            <p>¡Conoce a nuestro adorable amigo en busca de un hogar!</p>
            <p>Este es Rocky, un encantador Labrador Retriever de 3 años de
              edad. Rocky es un perro juguetón y
              amigable
              que ama pasar tiempo al aire libre y jugar con pelotas. Él
              está entrenado en casa, esterilizado y
              completamente vacunado. ¡Está listo para encontrar su familia
              para siempre!</p>
            <a href="{% static 'img/adopcion.jpg' %}" class="btn btn-primary stretched-link">Proximamente</a>
          </div>
          <div class="col-md-6 mb-md-0 p-md-4" id="img-adoptar">
            <!-- Añade la clase "circular-image" a la imagen -->
            <img src="{% static 'img/perro-car1 (17).jpg' %}" class="w-100 circular-image" alt="..." id="circularImage">
          </div>
        </div>
        <div class="row g-0 position-relative" id="invitacion-adoptar">
          <div class="col-md-6 mb-md-0 p-md-4" id="img-adoptar">
            <!-- Añade la clase "circular-image" a la imagen -->
            <img src="{% static 'img/skin-toruga-adoptar(2).jpg' %}" class="w-100 circular-image" alt="...">
          </div>
          <div class="col-md-6 p-2 ps-md-0" id="texto-adoptar">
            <h2 class="mt-0">Encuentra a tu nuevo amigo reptil</h2>
            <p>¡Conoce a nuestro adorable amigo en busca de un hogar!</p>
            <p>Te presentamos a Shelley, una tortuga terrestre de 5 años de
              edad en busca de un hogar amoroso.
              Shelley
              es una tortuga tranquila y curiosa que disfruta pasar su
              tiempo explorando su entorno. Ella está
              buscando
              un lugar seguro y confortable para vivir y disfrutar de la
              vida al máximo.</p>
            <a href="{% static 'img/adopcion_tortuga.jpg' %}" class="btn btn-primary stretched-link">Proximamente</a>
          </div>
        </div>
        <!--  reverse       -->
        <div class="row g-0 position-relative" id="invitacion-adoptar">
          <div class="col-md-6 p-5 ps-md-0" id="texto-adoptar">
            <!-- Mueve el título antes de la imagen -->
            <h2 class="mt-0">Adopcion de Roedor</h2>
            <p>¡Conoce a nuestro adorable amigo en busca de un hogar!</p>
            <p>Este es Speedy, un adorable hámster dorado de 6 meses de
              edad. Speedy es curioso y activo, siempre
              explorando su entorno en busca de aventuras. Le encanta correr
              en su rueda y disfrutar de deliciosas
              golosinas. Está bien entrenado para su caja y es un compañero
              perfecto para cualquier hogar. ¡Está
              emocionado de encontrar su hogar para siempre y llenarlo de
              alegría!</p>
            <a href="#" class="btn btn-primary stretched-link">Proximamente
            </a>
          </div>
          <div class="col-md-6 mb-md-0 p-md-4" id="img-adoptar">
            <!-- Añade la clase "circular-image" a la imagen -->
            <img src="{% static 'img/skin-de-hamster.jpg' %}" class="w-100 circular-image" alt="..." id="circularImage">
          </div>
        </div>
    </center>
  </section>
  <section>
    <h2>Productos que te podrian interesar</h2>
    <div id="carouselExampleAutoplaying" class="carousel slid" data-bs-ride="carousel">
      <div class="carousel-inner  border">
        <div class="carousel-item active">
          <div class="row justify-content-center ">
            <div class="col-md border">
              <img src="{% static 'img/toy1.png' %}" class="d-block w-100 border" alt="...">
              <p>Mueñeco Spidy</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy2.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Basket Toy</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy3.png' %}" class="d-block w-100 border" alt="...">
              <p>The Bad Boys.</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy1.png' %}" class="d-block w-100 border" alt="...">
              <p>Muñeco Spidy 2.</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy2.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Basket Toy [Medium].</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy3.png' %}" class="d-block w-100 border" alt="...">
              <p>The Bad Boys Returns.</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy1.png' %}" class="d-block w-100 border" alt="...">
              <p>Mueñco Spidy 2.1</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md border">
              <img src="{% static 'img/toy4.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Peluche Tiger</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy5.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Moneky Muñeco</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy6.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Football Toy</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy7.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Pelota Anti-Stress</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy8.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Banana Purple</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy9.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Oso Dona</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
            <div class="col-md border">
              <img src="{% static 'img/toy10.jpg' %}" class="d-block w-100 border" alt="...">
              <p>Cocodrilo Peluche</p>
              <a href="#" class="btn btn-primary justify-content-center ">Ver</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>
{% endblock %}

