{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Principal</title>
{% endblock %}

{% block content %}
<!-- Inicio Contactanos! -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="mail.php" method="post">
                <div class="card rounded-5">
                    <div class="card-header p-0" style="background-color: #3AB397;">
                        <div class="text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i>
                                Contactanos</h3>
                            <p class="m-0">¿Necesitas ayuda? ¿Tienes
                                preguntas?</p>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user" style="color: #3AB397;"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    placeholder="Nombre y Apellido" maxlength="50" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" style="color: #3AB397;"></i>
                                    </div>
                                </div>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="ejemplo@gmail.com" maxlength="60" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment" style="color: #3AB397;"></i>
                                    </div>
                                </div>
                                <textarea class="form-control" name="mensaje" placeholder="Envianos tu Mensaje" rows="2"
                                    oninput="autoExpand(this)" maxlength="800" required></textarea>
                            </div>
                        </div>
                        <div class="text-center d-flex justify-content-end">
                            <div id="counter" style="color: black;">0/600</div>
                        </div>
                        <div class="text-center" style="margin: -10px;">
                            <input id="enviar" type="submit" value="Enviar"
                                class="btn text-white btn-block rounded-0 py-2" style="background-color: #3AB397;">
                            <div id="aviso-limite-msg"
                                style="position: absolute; display: none; left: 50%; transform: translateX(-50%); color: red;">
                                Has
                                superado el límite de
                                caracteres</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin Contactanos! -->
{% endblock %}