{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Nosotros</title>
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row align-items-center  " id="colaborador">

            <div class="col-md-6 mb-md-5 p-md-10" id="img-colaborador">
                <img src="{% static 'img/nosotros-1.jpg'%}" class="w-100 circular-image" alt="...">
                <div class="col-md-12 p- ps-md-0 " id="texto-nosotros">
                    <h2 class="mt-0">Sara</h2>
                    <p>Sara es una emprendedora apasionada que siempre ha amado a los animales.
                        Con su tienda "Happy Pet", ofrece un paraíso para todas las mascotas y sus dueños.
                        Su compromiso con el bienestar animal y la adopción responsable es evidente en cada aspecto de
                        su
                        negocio.
                        "Happy Pet" es más que una tienda, es un refugio para todos los amantes de los animales en la
                        comunidad.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-md-5 p-md-10" id="img-colaborador">
                <img src="{% static 'img/nosotros-2.jpg'%}" class="w-100 circular-image" alt="...">
                <div class="col-md-12 p-2 ps-md-0 " id="texto-nosotros">
                    <h2 class="mt-0">Omar</h2>
                    <p>Omar amante de los animales desde su infancia.
                        Con una sólida formación en cuidado animal, decidió unirse a "Happy Pet" para hacer lo que más
                        le gusta.
                        Como gerente de la tienda, se asegura de que cada mascota y cliente reciba atención
                        personalizada.
                        Su amor por los animales y su experiencia hacen de "Happy Pet" el lugar ideal para encontrar la
                        compañía
                        perfecta.</p>
                </div>
            </div>

            <div class="col-md-6 mb-md-5 p-md-10" id="img-colaborador">
                <img src="{% static 'img/nosotros-3.jpg'%}" class="w-100 circular-image" alt="...">
                <div class="col-md-12 p-2 ps-md-0 " id="texto-nosotros">
                    <h2 class="mt-0">Sebastian</h2>
                    <p>Sebastian es un experto en comportamiento animal que se unió a "Happy Pet" con el deseo de ayudar
                        a los
                        clientes a entender mejor a sus mascotas.
                        Como adiestrador certificado, ofrece clases de obediencia y asesoramiento personalizado.
                        Su dedicación y pasión por los animales hacen de "Happy Pet" un lugar donde cada mascota y su
                        dueño
                        pueden crecer juntos en armonía.</p>
                </div>
            </div>
        </div>
</section>

{% endblock %}