{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Nosotros</title>
{% endblock %}

{% block content %}
        <main>
            <section>
                <div class="container-fluid" id="gran-container">
                    <div class="container-fluid" id="container-ini-reg">
                        <div class="container-form" id="cont-form">
                            <form id="sing-in" class="sing-in">
                                <h2>Iniciar Sesión</h2>
                                <div class="social-networks">
                                    <ion-icon name="logo-twitch"></ion-icon>
                                    <ion-icon name="logo-twitter"></ion-icon>
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    <ion-icon name="logo-tiktok"></ion-icon>
                                </div>
                                <span>Use su correo y contraseña</span>
                                <div class="container-input">
                                    <label for="emailSIN"></label>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <input type="text" placeholder="Email" id="email-sing-in" />
                                </div>
                                <div class="container-input">
                                    <label for="passwordSIN"></label>
                                    <ion-icon name="lock-closed-outline"></ion-icon>
                                    <input type="password" placeholder="Password" id="password-sing-in" />
                                </div>
                                <a href="#">¿Olvidaste tu contraseña?</a>
                                <button id="btn_incio" class="button" type="submit">
                                    INICIAR SESIÓN
                                </button>
                            </form>
                        </div>
                        <div class="container-form" id="cont-form">
                            <form id="sing-up" class="sing-up">
                                <h2>Registrarse</h2>
                                <div class="social-networks">
                                    <ion-icon name="logo-twitch"></ion-icon>
                                    <ion-icon name="logo-twitter"></ion-icon>
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    <ion-icon name="logo-tiktok"></ion-icon>
                                </div>
                                <span>Use su correo electrónico para registrarse</span>
                                <div class="container-input">
                                    <label for="nombreSUP"></label>
                                    <ion-icon name="person-outline"></ion-icon>
                                    <input type="text" placeholder="Nombre" id="nombre-sing-up" />
                                </div>
                                <div class="container-input">
                                    <label for="emailSUP"></label>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <input type="text" placeholder="Email" id="email-sing-up" />
                                </div>
                                <div class="container-input">
                                    <label for="passwordSUP"></label>
                                    <ion-icon name="lock-closed-outline"></ion-icon>
                                    <input type="password" placeholder="Password" id="password-sing-up" />
                                </div>
                                <button class="button" type="submit">REGISTRARSE</button>
                            </form>
                        </div>
                        <div class="container-welcome" id="cont-wel">
                            <div class="welcome-sign-up welcome" id="welcome-sing-in">
                                <h3>¡Bienvenido!</h3>
                                <p>
                                    Ingrese sus datos personales para poder usar todas las funciones del
                                    sitio
                                </p>
                                <button id="btn-sing-in" class="button">Registrarse</button>
                            </div>
                            <div class="welcome-sign-in welcome" id="welcome-sing-up">
                                <h3>¡Hola!</h3>
                                <p>
                                    Regístrese con sus datos personales para usar todas las funciones
                                    del sitio
                                </p>
                                <button id="btn-sing-up" class="button">Iniciar Sesión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <iframe width="425" height="350"
                    src="https://www.google.com/maps/embed?origin=mfe&pb=!1m14!1m8!1m3!1d24637.230090345016!2d-0.382204!3d39.477148!3m2!1i1024!2i768!4f13.1!3m3!1m2!2sies+abastos!4s11271517402525668942!6i14!3m1!1ses!5m1!1ses">
                </iframe>
            </section>
        </main>

{% endblock %}  