* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}   

body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
}

.carrito-desplegable{
    position: relative;
}

.carrito-desplegable #contenido-carrito-des {
    display: none;
}

.carrito-desplegable:hover #contenido-carrito-des {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #333;
    padding: 20px;
    min-width: 400px;
    background-color: rgba(51, 51, 51, 0.8);
}
table {
    width: 100%;
}
th, td {
    color: #fff;
}
.vaciar-carro {
    background-color:rgb(23, 0, 31) ;
    border-radius: 15%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 8000;
    cursor: pointer;
}
    
#img-carrito-test {
    width: 100%;

} 

#container-tienda {
    max-width: 1200px;
    margin: 0 auto;
}

.gran-container-tienda {
    padding: 0px 40px 80px 0px;
    text-align: center;
}
.contenido-tienda {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.box-item-tienda {
    border-top: 5px solid #000000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.box-item-tienda:nth-child(1),
.box-item-tienda:nth-child(2),
.box-item-tienda:nth-child(3),
.box-item-tienda:nth-child(4),
.box-item-tienda:nth-child(5),
.box-item-tienda:nth-child(6),
.box-item-tienda:nth-child(7),
.box-item-tienda:nth-child(8) {
    display: inline-block;
}

.box-item-tienda img {
    height: 200px;
}

.content-txt h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.content-txt p {
    margin-bottom: 25px;
    color: #333;
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: rgb(10, 0, 22) !important;
}

.btn-2 , .btn-3 {
    background-color: rgb(23, 0, 31);
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover {
    background-color: rgb(10, 0, 22);
}

.btn-3 {
    margin: 0 ;
    padding: 10px 20px;
    border-radius: 30px;
}

