body{
  background-color: darkgray;
}
.container-card-body{
 border-radius: 50px; 
}

<<<<<<< HEAD
#carouselExampleFade{
  max-width: 1600px; /* el proposito del max es que se adapte a los dispositivos el ancho y el alto (a las diferentes pantallas) */
  max-height: 600px; 
  margin: auto;
}

#navbarPrincipal{
  height: 70px;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(252, 246, 195);
}

#navbarPrincipal .navbar-brand{
  font-size: 40px;
  font-weight: 500;
  margin-right: 20px
}

#carouselExampleFade .carousel-content{
  position: absolute;
  bottom: 50%;
  left: 45%;
  color: white;
  font-size: 500px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

h1{
  font-size: 500px;
}
=======
.card-body{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.row > .card{
  width: 25%;
  display: cover;
  margin-right: 3%;
  margin-left: 5%;
  margin-top: 40px;
}
>>>>>>> 4ef2438e96f5818f05fbc99ab108d5293b223c62
