body{
  background-color: darkgray;
}
.container-card-body{
 border-radius: 50px; 
}

.card-body{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.row > .card{
  width: 25%;
  display: cover;
  margin-right: 3%;
  margin-left: 5%;
  margin-top: 40px;
}
