body{
  background-color: #ffffff;
}

nav{
  z-index: 999;
  max-width: 100%;
  min-width: 30%;
  margin-bottom: 10px;
  
}

#carouselExampleFade{
  width: 100%;
  height: 600px;
  min-width: 100%; /* el proposito del max es que se adapte a los dispositivos el ancho y el alto (a las diferentes pantallas) */
  min-height: 50%;
  margin-bottom: cover;
}

header{
  width: 100%;
}

#navbarPrincipal{
  height: 70px;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(252, 246, 195);
  
}

#navbarPrincipal .navbar-brand{
  font-size: 40px;
  font-weight: 500;
  margin-right: 20px
  
}

#carouselExampleFade .carousel-content{
  bottom: 50%;
  left: 45%;
}
#carouselExampleFade .carousel-content h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6); /* añade sombra en el texto */
}

/* Carrusel de los otros productos que te podrian interesar*/
#carouselExampleAutoplaying .carousel-inner > img{
  width: 50px;
  height: 20%;
 
}

#carouselExampleAutoplaying .carousel-inner{
  height: 250px;
  max-width: 70%;
  margin: auto;
  
}

#carouselExampleAutoplaying .carousel-item .btn{
  display: flex;
  text-align: center;

  
}
#carouselExampleAutoplaying .carousel-item p{
  text-align: center;
  
}
h2{
  text-align: center;
  padding-top: 3%;
}
/* Fin del carrusel*/

.card-body{
  
  max-width: 80%;
  min-height: 20%;
  margin-top: 25px;
  margin-bottom: 70px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.row > .card{
  
  max-width: 30%;
  min-width: 41%;
  margin-right: 3%;
  margin-left: 5%;
  margin-top: 40px;
}

.resolucion {
  width: 99%;
  text-align: center;
}

/**Movil**/

@media (max-width: 767px) {
  .desktop {
      display: none;
  }
  .tablet {
      display: none;

  }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
      display: none;
  }
  .movil {
      display: none;
  }
}


/**Escritorio**/

@media (min-width: 991px) {
  .tablet {
      display: none;
  }
  .movil {
      display: none;
  }
}

.circular-image {
  border-radius: 40%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Oculta cualquier contenido que exceda el radio */
  transition: border-radius 2.5s; /* Añade una transición suave al cambiar el radio */
}
.circular-image:hover {
  border-radius: 1; /* Cambia el radio a 0 para hacer la imagen cuadrada */
}
main{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-item > .img-fluid{   
    width: 1920px;
    height: 620px;
    max-width: 100%;
    min-width: 60%;

}
#texto-adoptar{
  align-content: center;
}

.card > .img{

  width: 100px;
}

#articulo1 img{
  width: 640px;
  height: 300px;
  display: cover;
}


#colaborador{
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20%;

}

#invitacion-adoptar{
  margin-top: 5%;
}

#holl {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.inner {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 130px;
  height: 50px;
  background-color: green;
}

.inner2 {
  position: relative;
  top: 10px;
  left: 5px;
  width: 165px;
  height: 175px;
  background-color: red;
}